@page "{GradingSectionId}"
@model GradeMaker.Pages.GradingSections.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GradingSection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GradingSection.GradingSectionID" />
            <input type="hidden" asp-for="GradingSection.ClassroomTermID" />
            <div class="form-group">
                <label asp-for="GradingSection.Name" class="control-label"></label>
                <input asp-for="GradingSection.Name" class="form-control" />
                <span asp-validation-for="GradingSection.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradingSection.Weighting" class="control-label"></label>
                <input asp-for="GradingSection.Weighting" class="form-control" />
                <span asp-validation-for="GradingSection.Weighting" class="text-danger"></span>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th>Sub-Section Name</th>
                        <th>Max Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.GradingSection.SubGradingSections)
                    {
                        <tr>
                            <td>
                                <a asp-page="/SubGradingSections/Edit" asp-route-gradingsectionid="@x.GradingSectionID">@x.Name</a>
                            </td>
                            <td>
                                @x.MaxScore
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Terms/Edit" asp-route-id="@Model.GradingSection.ClassroomTermID">Back to Term</a>
    <a asp-page="/SubGradingSections/Create" asp-route-termid="@Model.GradingSection.ClassroomTermID" asp-route-gradingsectionid="@Model.GradingSection.GradingSectionID">Create sub-section</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
