@page
@model GradeMaker.Pages.Classrooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Class Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classrooms) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">@item.Name</a> 
            </td>
            <td>
                <span>Teacher:  @item.TeacherName</span>
                <span>Student Count: @item.StudentCount</span>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
 