@page "{id}"
@using GradeMaker.Extensions
@model GradeMaker.Pages.Terms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClassroomTerm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassroomTerm.ClassroomTermID" />
            <input type="hidden" asp-for="ClassroomTerm.ClassroomID" />

            <div class="form-group">
                <label asp-for="ClassroomTerm.ClassroomTermName" class="control-label"></label>
                <input asp-for="ClassroomTerm.ClassroomTermName" class="form-control" />
                <span asp-validation-for="ClassroomTerm.ClassroomTermName" class="text-danger"></span>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Section Name</th>
                        <th>Weighting</th>
                        <th>Max Score</th>
                    </tr>
                </thead>
                <tbody>
                    @*Code to retrieve information from the database that this model has access to*@
                    @foreach (var x in Model.ClassroomTerm.GradingSections)
                    {
                        <tr>
                            <td>
                                <a asp-page="/GradingSections/Edit" asp-route-gradingsectionid="@x.GradingSectionID">@x.Name</a>
                            </td>
                            <td>
                                @x.Weighting%
                            </td>
                            <td>
                                @x.MaxScore()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Classrooms/Details" asp-route-id="@Model.ClassroomTerm.ClassroomID">Back to Classroom</a> |
    <a asp-page="/GradingSections/Create" asp-route-termid="@Model.ClassroomTerm.ClassroomTermID">Create new Section</a> |
    <a asp-page="/Terms/Delete" asp-route-id="@Model.ClassroomTerm.ClassroomTermID">Delete</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
